#tieude {
  color: fuchsia;
  font-style: normal;
  text-align: center;
}
h3,
h6 {
  color: darkgreen;
  font-style: italic;
  text-align: center;
}
a {
  color: crimson;
  font-style: oblique;
  text-align: center;
  font-weight: 100;
  align-items: center;
}
body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
