h1 {
  color: fuchsia;
  font-style: normal;
  text-align: center;
}
h4,
h6 {
  color: darkgreen;
  font-style: italic;
  text-align: center;
}
a {
  color: crimson;
  font-style: oblique;
  text-align: center;
  font-weight: 100;
  align-items: center;
}
